ion-content{
   background: linear-gradient(to right, #74ebd5, #acb6e5);
}
h2 {
  color: black;
  font-family: Arial,Helvetica, sans-serif;
  text-align:  justify;
}
p {
  color: black;
  font-family: Arial,Helvetica, sans-serif;
  text-align:  justify;
}
