ion-content{
     background: linear-gradient(to right, #ff5f6d, #ffc371);
}
h2 {
  color: black;
  font-family: Arial,Helvetica, sans-serif;
  text-align:  center;
}
p {
  color: black;
  font-family: Arial,Helvetica, sans-serif;
  text-align:  justify;
}
